@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --primary: #0d9488;
  --secondary: #334155;
  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #dc2626;
}
@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
